 	<div class="fixed " style="bottom:35px; right:40px; z-index:99; width:50px; height:50px;"> 
		<img src="../img/gotop.png" th:onclick="javascript:window.scrollTo(0,0);" class="cursor-pointer w-full">
	</div>
	
  <footer class="bg-gray-c_3c relative z-30">
    <div class="eframe-width mx-auto py-11 relative">
        <div class="w-full inline-block">
            <p class="float-left py-0 m-0">
                <a href="http://www.ctrl-a.co.kr/" class="KOHIBaeumOTF text-fs-30 text-gray-c_ff">TEAM-B</a>                              
            </p>
            <ul class="float-right text-fs-12">
                <li class="float-left"><a class="text-gray-c_ff bold" href="http://www.ctrl-a.co.kr/" target="_blank">(주) 팀 비</a></li>
                <li class="float-left mx-5"><a class="text-gray-c_ff bold" href="#">이용약관</a></li>
                <li class="float-left"><a class="text-gray-c_ff bold" href="#">개인정보처리방침</a></li>
            </ul> 
            <span class="inline-block mt-1 text-fs-10 text-gray-c_8c w-full mb-8">COPYRIGHT(c)TEAM-B. ALL RIGHTS RESERVED.</span>
            <p class="float-left text-gray-c_b7 text-fs-11 leading-normal w-full">
            (주)팀 비	<br> 대표이사 | 김중수
            </p>
            <p class="float-left text-gray-c_b7 text-fs-11 leading-normal me-5">
            주소 | 서울시 강남구 테헤란로7길 7, 7층(역삼동, 에스코빌딩)<br>
            고객센터 | 02-561-1911<br>
            이메일 | support@team_b.com
            </p>
            <p class="float-left text-gray-c_b7 text-fs-11 leading-normal">
            사업자번호 | 202-11-02507 <br>
            팀 비는 프로젝트 정보에 직접관여하지 않으며<br>
            프로젝트 정보및 참여에 대한 의무와 책임은 각 정보제공업체에 있습니다.
            </p>
        </div>
    </div>
    <div class="hidden w-full h-16"></div>
</footer>