@charset "UTF-8";
@import url('https://webfontworld.github.io/kopus/KoPubWorldDotum.css');
* {margin: 0px; padding: 0px;}
 
body {font-family: 'KoPubWorldDotum';}
.nav-item {top:50%;}

/* Add a gray background color and some padding to the footer */
footer {
 background-color: #f2f2f2;
 padding: 25px;
}